# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
.env

# Local SQLite DB
*.db
*.sqlite3

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDEs
.idea/
*.iml

# frontend (React)
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
